/* Navbar Logout button styles */

.logout-btn{
    background-color: #3a0ca3;
    width: fit-content;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1.1rem;
    color: white;
    border: none;
    cursor: pointer;
    margin: auto;
}

