:root {
  --primary-color: #f1faff;
  --text-dark: #030712;
  --text-light: #6b7280;
  --extra-light: #fbfbfb;
  --white: #ffffff;
  --max-width: 1200px;
}

*{
  text-decoration: none;
}
.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.musthave__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  margin-top: 80px;
}


.musthave__nav a {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-light);
  transition: 0.3s;
}

.musthave__nav a:hover {
  color: var(--text-dark);
}

.musthave__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.musthave__card {
  display: grid;
  gap: 0.5rem;
  color: var(--text-dark);
}

.musthave__card h4 {
  font-size: 1rem;
  font-weight: 600;
}

.musthave__card p {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.musthave__card p del {
  font-weight: 400;
  color: var(--text-light);
}

.musthave__card .container {
  height: 90vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.product {
  text-align: center;
  margin: 0;
  padding: 0;
  border: 1px solid #e2e2e2;
  box-shadow: 1px 1px .5em #d8d8d8;
  width: 300px;
}

.product img {
  display: block;
  overflow: hidden;
  margin: 0;
}
.product .content {
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: .8em;
}

.product img:hover {
  opacity: 0.9;
}

.content h3 {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.content span {
  font-size: 1.15rem;
}

h3 + span {
  margin-top: .5em;
}

.content a {
  color: rgb(69, 67, 67);
  text-decoration: none;
}

.link {
  display: flex;
  justify-content: space-between;
  background-color: rgb(59, 57, 57);
}

.link a {
  transition: background .2s step-start;
  width:100%;
  color: #fff;
  padding: 1rem;
  text-decoration: none;
}

.link a:hover {
background-color: rgb(0,0,0);
}

.content a:hover{
color: rgb(0,0,0);
}